/*
    Rai Website, a powerful tools, fun!
    ©2024 Rai and UpLauncher.

    Description: Dialog module
*/

.modal-content h2 {
  font-size: 3vh;
  font-weight: bold;
}

.modal-content .button {
  margin-top: 10px;
}

.modal-content .box {
  background-color: #000 !important;
}

.box,
.notification {
  box-shadow: 0px 10px -14px 14px #fff;
}

dialog {
  padding: 0;
  border: 0;
  border-radius: 0.6rem;
  box-shadow: 13px 13px 0px 0px #ffffff;

  width: 30%;

  animation-name: fadeOut;
  animation-fill-mode: forwards;
  animation-duration: 200ms;
  animation-timing-function: ease-out;

  position: absolute;
  top: 50%;
  button {
    padding: 0.4em 1em 0.2em;
  }
}
/* native backdrop */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}
dialog[open] {
  animation: slide-up 0.4s ease-out;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* misc page styles -- not important for demo */

@keyframes slide-up {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
