/*
    Rai Website, a powerful tools, fun!
    ©2024 Rai and UpLauncher.

    Description: Main scss file for website.
*/

@charset "utf-8";
@import '../node_modules/bulma/bulma.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap');

//===[START] Body Styling [START]===//
body {
  font-family: 'Segoe UI', 'Montserrat', 'Noto Sans JP', sans-serif;
  width: 100%; // Width 100%
}
//===[END] Body Styling [END]===//

/* Font Apply */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
}
//li disabled
li.disabled {
  pointer-events: none;
  opacity: 0.5;
}

//section disabled
section.disabled {
  opacity: 0.05;
  pointer-events: none;
}

//[START] Font Applier [START]//
button,
input {
  font-family: 'Segoe UI', 'Noto Sans JP' !important; // Font Applier
}
//[END] Font Applier [END]//

/* List */
.center-left {
  text-align: center;
}

.center-left ol {
  text-align: left;
  display: inline-block;
}
.center-left ul {
  text-align: left;
  display: inline-block;
}
.center-left p {
  text-align: left;
  display: inline-block;
}
label {
  text-align: left;
}
.center-left input {
  text-align: left;
  display: inline-block;
}

.content {
  margin-left: 20px;
}

.info-text {
  width: 50%;
  margin: auto;
}

.menu {
  height: 100vh;
}

/* Other */
button {
  width: auto;
}

input.input {
  width: auto;
}

article {
  width: 45%;
}

@media screen and (max-width: 430px) {
  article {
    width: 95%;
  }
}

// <div class="content">
div.content {
  width: 100%;
  padding-top: 20px !important;
}

/* Column */
.products > .card {
  margin-left: 15px;

  width: 20%;
}

/* TODO: comment */
header {
  background-color: hsl(0, 0%, 98%);
}
 
.navbar {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
}
 
@media (min-width: 767.98px) {
  .navbar {
    top: 0;
    position: sticky;
    z-index: 999;
  }
}
// ボタンがコンテナからはみ出るのを修正
button {
  width: auto;
}